:root{
  --main-color: #008ae0;
}

body{
  background-color: #e3e3e3;
}

::-webkit-scrollbar{
  width: 0.2em;
}

::-webkit-scrollbar-thumb{
  background-color: #636363;
}

.page-header{
  width: 100%;
  height: 5em;
  background-color:var(--main-color);
  position: fixed;
  z-index: 10;
}

#header-logo-container{
  position:relative;
  left: 5%;
  display: inline-block;
}

#alarm{
  width: 1.3em; height: 1.3em; position: absolute; left: 62em; top: 1.65em;
}

#notifications{
  position: absolute;
  background-color: #f5aa42; 
  color: white; 
  width: 1.6em; 
  height: 1.6em;
  font-size: 0.7em;
  text-align: center;
  border-radius: 50%;
  left: 89.8em;
  top: 3.5em;
}

#header-logo{ 
  max-height: 3em;
  position: relative;
}

#signOut{
  display:inline-block;
  position: fixed;
  left: 70em;
  color: white;
  height: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
}

#Home{
  display:inline-block;
  position: fixed;
  left: 65em;
  color: white;
  height: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
}

#signOut:hover{
  text-decoration: none;
  background-color:#0084d6;
}

#Home:hover{
  text-decoration: none;
  background-color:#0084d6;
}

#header-title{
  display:inline-block;
  position: relative;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2em;
  width: 20em;
  left: 3%;
}

#chatbox{
  height: 27em;
  width: 40em;
  display: block;
  margin:auto;
}

#chatbox-header{
  background-color:var(--main-color);
  height: 5em;
  border-radius: 2em;
}

#chat-content{
  margin-top: 1em;
  background-color: #f5f5f5;
  border-radius: 2em;
  height: 21em;
}

#chatbox-header-avatar{
  object-fit: cover;
  width: 3.3em;
  height: 3.3em;
  border-radius: 50%;
  position: relative;
  left: 4%;
}

#chatbox-header-name{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 400;
  position: relative;
  left: 16%;
}

#chat-content-text{
  overflow-y:scroll;
  padding-top: 1.5em;
  height: 17em;
}

#chat-content-send{
  height: 4em;
  width: 100%;
  padding-top: 0.8em;
  padding-left: 2em;
}

#chat-content-send textarea{
  width: 80%;
  resize:none;
  border-radius: 1em;
  padding-left: 1em;
}

textarea:focus{
  outline:none;
}

#sendImg{
  max-height: 1.5em;
}

#sendImgContainer{
  position:relative;
  bottom: 0.65em;
  left: 1.3em;
  background: transparent;
  border: none
}

#sendImgContainer:focus{
  outline: none;
}

#uploadImg{
  position:relative;
  max-height: 1.5em;
  left: 1.8em;
  bottom: 0.65em;
}

.text{
  margin-bottom: 1em;
}

.textRight{
  margin-bottom: 1em;
}

.text{
  padding-left: 2em;
  text-align:left;
}

.textRight{
  padding-right: 2em;
  text-align:right;
}

.text .text-avatar{
  border-radius: 50%;
  width: 2em;
  height: 2em;
  object-fit: cover;
  margin-right: 1em;
}

.textRight .text-avatar{
  border-radius: 50%;
  width: 2em;
  height: 2em;
  object-fit: cover;
  margin-left: 1em;
}

.text span{
  position: relative;
  border-radius: 1em;
  background-color: #e3e3e3;
  padding: 0.3em 1em;
  top: 0.2em;
  width: 2em;
}

.textRight span{
  position: relative;
  border-radius: 1em;
  background-color: var(--main-color);
  padding: 0.3em 1em;
  top: 0.2em;
  color: white;
}

#user-typing{
  position: absolute;
  bottom: 4em;
  left: 5.5em;
  opacity: 0.5;
}

#user-online-container{
  width: 90%;
  height: 15em;
}

#user-online-header{
  height: 2.5em;
  border-radius: 1em;
  background-color:var(--main-color);
  color: white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 0.4em;
  padding-left: 2em;
}

#user-online-content{
  background-color: #f5f5f5;
  margin-top: 1em;
  height: 11.5em;
  border-radius: 1em;
  overflow-y: scroll;
}

.user-online-content-info{
  margin: auto;
  margin-top: 1em;
  height: 3.6em;
  width: 90%;
  padding-left: 0.5em;
}

.user-online-content-info img{
  height: 2.7em;
  width: 2.7em;
  border-radius: 50%;
  object-fit: cover;
}

.user-online-content-info div{
  padding-top:0.2em;
  display:inline-block;
  margin-left: 1em;
}

#you{
  margin-left: 0em !important;
  position: absolute;
  left: 72%;
  background-color: var(--main-color);
  color: white;
  padding: 0.3em 1em;
  border-radius: 1em;
} 

#chat-room-container{
  margin-top: 2em;
  width: 90%;
  height: 15em;
  margin-bottom: 2em;
}

#chat-room-header{
  height: 2.5em;
  border-radius: 1em;
  background-color:var(--main-color);
  color: white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 0.4em;
  padding-left: 2em;
}

#chat-room-content{
  background-color: #f5f5f5;
  margin-top: 1em;
  height: 11.5em;
  border-radius: 1em;
  overflow-y: scroll;
}

.add{
  margin-left: 0em !important;
  position: absolute;
  left: 72%;
  background-color: #e3e3e3;
  color: black;
  padding: 0.3em 1em;
  border-radius: 1em;
}

.pending{
  margin-left: 0em !important;
  position: absolute;
  left: 66%;
  background-color: #e3e3e3;
  color: black;
  padding: 0.3em 1em;
  border-radius: 1em;
}

.deny{
  margin-left: 0em !important;
  position: absolute;
  left: 70%;
  background-color: #e3e3e3;
  color: black;
  padding: 0.3em 1em;
  border-radius: 1em;
}

.accept{
  margin-left: 0em !important;
  position: absolute;
  left: 53%;
  background-color: #e3e3e3;
  color: black;
  padding: 0.3em 1em;
  border-radius: 1em;
}

.chat{
  margin-left: 0em !important;
  background-color: #e3e3e3;
  color: black;
  padding: 0.3em 1em;
  border-radius: 1em;
}

.chat-container{
  position: absolute;
  left: 68%;
  padding-top: 0.28em;
}

.more{
  height: 1em !important;
  width: 1em !important;
  object-fit: contain;
}

.more:hover{
  cursor: pointer;
}

.more-container{
  margin-left: 0em !important;
  position: absolute;
  left: 81%;
  padding-top: 0.37em !important;
}

.more-options{
  background-color: var(--main-color);
  height: 4.3em;
  border-radius: 1em;
  border-top-left-radius: 0em;
  color: white;
  width: 9em;
}

.more-options-container{
  padding-top: 0.3em !important;
  position: absolute;
  left: 65%;
}

.more-options a:first-child div{
  border-bottom: solid 1px;
  padding-bottom: 0.2em;
}

.more-options div{
  width: 7em;
  display:block !important;
}

.more-options a{
  color: white;
}

.more-options a:hover{
  text-decoration: none;
}

.textRight .seenBy{
  width: 1em;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: 2em;
  left: 1.4em;
}

.text .seenBy{
  width: 1em;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: 2em;
  right: 6em;
}

.seenBy img{
  width: 1em; 
  height: 1em;
}

.seenBy div{
  color: #9c9c9c;
  font-size: 0.75em;
}