<%
sortHelper = (sortType, sortField, linkPrefix, collection) =>{

    let arr;
    let width;

    switch(collection){
        case "group":
            arr = ["Name", "Status", "group_acp", "Ordering"];
            width = [8, 10, 12, 12];
            break;
        case "users":
            arr = ["Name", "Avatar", "Status", "Group"];
            width = [10, 10,  10, 10];
            break;
        case "category":
            arr = ["Name", "Slug", "Status", "Ordering"];
            width = [8, 10, 10, 12];
            break;
        default:
            arr = ["Name", "Category", "Status", "Ordering"];
            width = [10, 12, 10, 10];
    }

    let xHTML = ``;

    arr.forEach((item, index) =>{
        let name = item;
        if(item == "group_acp"){
            name = "Group ACP";
        }
        if(sortField == item.toLowerCase()){
            if(sortType == "desc"){

                xHTML += `<th style="width:${width[index]}%">
                        <a href="${linkPrefix}sort/${item.toLowerCase()}/asc" style="text-decoration: none; color:black;">${name}<i class="material-icons" style="font-size:12px">expand_less</i></a>
                         </th>`;

            } else {

                xHTML += `<th style="width:${width[index]}%">
                        <a href="${linkPrefix}sort/${item.toLowerCase()}/refresh" style="text-decoration: none; color:black;">${name}<i class="material-icons" style="font-size:12px">expand_more</i></a>
                         </th>`;

            }
        } else {

            xHTML += `<th style="width:${width[index]}%">
                        <a href="${linkPrefix}sort/${item.toLowerCase()}/desc" style="text-decoration: none; color:black;">${name}<i class="material-icons" style="font-size:12px">unfold_more</i></a>
                     </th>`;

        }
    });

    return xHTML;

} 
%>